body {
  color: #c5c8c6;
  background-color: #1d1f21;
  margin: 5px;
  line-height: 1.4em; }

.msg {
  margin-bottom: 5px; }
  .msg a {
    color: #636cff; }
    .msg a:hover {
      color: #969cff; }
    .msg a:visited {
      color: #b294bb; }
  .msg .time {
    color: #35393c; }
  .msg .sender {
    font-weight: bold; }
  .msg.incoming .sender {
    color: #cc6666; }
  .msg.outgoing .sender {
    color: #81a2be; }
  .msg .message {
    color: #c5c8c6; }

.status {
  margin-bottom: 5px; }
  .status .bullet {
    margin-right: 0.5em; }
  .status .message {
    color: #969896; }

.history span {
  opacity: 0.5 !important; }

/* Need to add >= 1px padding to chat window */
#Chat {
  padding-bottom: 1px; }
