body { color: #d1d2d3; background-color: #1d1f21; margin: 5px; line-height: 1.4em; }

.status { margin-bottom: 5px; }
.status .bullet { margin-right: 0.5em; }

.msg { margin-bottom: 5px; }
.msg a { color: #B5BD68; }
.msg a:visited { color: #B5BD68; }
.msg .time, .msg .sender { margin-right: 1em; }
.msg .time { width: 40px; }

.history span { opacity: .5!important; }

/* Need to add >= 1px padding to chat window */
#Chat { padding-bottom: 1px; }
